.about{
    padding-top: 2%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 0px !important;
    height: initial;
    background-color: var(--about);
}

h3{
    font-size: 40px;
    text-align: center;
    margin-top: 0%;
}

h5{
    font-size: 16px;
    padding: 0%;
    margin: 1rem;
}

.sicons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap !important;
}

.skillset{
    align-items: center;
    align-self: center;
    align-content: center;
    width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap !important;
}

.fd{
    padding: 20px;
    font-size: 35px;
    width: 35px;
    height: 35px;
    /* box-shadow: 3px 3px 6px #b8b9be, -3px -3px 9px #fff; */
    box-shadow: 3px 3px 6px var(--neuo-one), -3px -3px 9px var(--neuo-two);
    /* border-color: #ced4da !important; */
    text-align: center;
    border-radius: 50%;
    transition: .5s;
    background-color: var(--about) !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fd:hover{
    transform: scale(1.3);
    transition: .4s;
}

.fa-chart-pie{
    color: plum;
}

.fa-brain{
    color: #74b14e;
}

.fa-android{
    color: #03A9F4;
}

.fa-fire-flame-curved{
    color: #FFA611;
}

.fa-html5{
    color: #e34c26;
}

.fa-css3{
    color: #264de4;
}

.fa-sass{
    color: #cd6799;
}

.fa-js-square{
    color: #f0db4f
}

.fa-react{
    color: #61dbfb
}

.fa-database{
    color: #f29111
}

.fa-leaf{
    color: #4db33d
}

.fa-python{
    color: #306998
}

.fa-c{
    color: darkblue;
}

.fa-github{
    color: black;
}

.fa-docker{
    color: #0db7ed
}

.myself{
    padding-top: 4rem;
}

.info{
    font-size: 24px;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    font-weight: 500;
}

.resume{
    display: flex;
    justify-content: center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	border: none;
    align-self: center;
	font-family: var(--font-primary), serif;
	color: var(--resume);
	font-size: 24px;
	border-radius: 4px;
	box-shadow: inset 0px 3px 5px rgba(255,255,255,0.5), 0px 0px 10px rgba(0,0,0,0.15);
	background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,0) 5%, rgba(255,255,255,.5) 6%, rgba(255,255,255,0) 9%, rgba(255,255,255,.5) 10%, rgba(255,255,255,0) 17%, rgba(255,255,255,.5) 19%, rgba(255,255,255,0) 21%);
	background-size: 150%;
	background-position: right;
	transition: 0.5s;
    
}

button:hover {
	background-position: left;
	color: var(--font-color);
	box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}

button:focus {
	outline: none;
}

@media screen and (max-width: 800px){

    .info{
        font-size: 18px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}