@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --font-color: #68483f;
    --font-sec: black;
    --background-color: #eee;
    --background-nav: #bcaca5;
    --link-color: #68483f;
    --font-primary: 'Playfair Display';
    --font-secondary: 'Lato';
    --social-background: #eee3e1;
    --hero: url('../assets/light.jpg');
    --projects: url('../assets/project-light.png');
    --neuo-one: #b8b9be;
    --neuo-two: #fff;
    --soc-one: #b8b9be;
    --soc-two: #fff;
}

[data-theme="dark"] {
    --font-color: whitesmoke;
    --font-sec: whitesmoke;
    --background-color: #68483f;
    --background-nav: #68483f;
    --link-color: whitesmoke;
    --font-primary: 'Playfair Display';
    --font-secondary: 'Lato';
    --social-background: #d0c4c4;
    --hero: url('../assets/dark.jpg');
    --projects: url('../assets/project-dark.png');
    --neuo-one: #583d36;
    --neuo-two: #785348;
    --soc-one: #b1a7a7;
    --soc-two: #efe1e1;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--font-secondary), sans-serif;
}

::selection{
    color: var(--background-color);
    background: var(--font-color);
}

h4 {
    font-family: var(--font-primary), serif;
}

a {
    color: var(--link-color);
}

.toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.toggle-theme-wrapper span {
    font-size: 28px;
}
  
.toggle-theme {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 60px;
}

.toggle-theme input {
    display: none;
}
  
.slider {
    background-color: #68483f;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
}
  
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

input:checked + .slider:before {
    transform: translateX(26px);
    background-color: #333;
}
  
input:checked + .slider {
    background-color: #bcaca5;
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background:  #a68a7d;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bcaca5
}
