.exp {
    background-color: var(--background-nav);
    padding-top: 2%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 0px;
}

h1{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: var(--font-sec);
    padding-left: 2rem; 
    overflow: hidden;
}

h1:before, h1:after {
  background-color: var(--font-sec);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
}

.css-480o17-MuiGrid-root>.MuiGrid-item{
    padding-left: 16px;
    padding-right: 16px;
}
