.footer{
    display: flex;
    background-color: var(--background-nav);
    padding-left: 8%;
    padding-right: 15%;
    justify-content: space-between;
    font-family: var(--font-secondary);
    font-weight: 100;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.logo{
    background-image: var(--logo);
    height: 260px;
    width: 260px;
    background-size: cover;
}

.pages{
    padding-top: 3rem;
}

.socialsF{
    padding-top: 3rem;
}

.ul{
    list-style-type: none;
    margin: 0;
    padding: 0%;
    font-size: 20px;
}

a.soc{
    padding-right: 0;
    padding-left: 0;
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: lighter;
}

h2.foot{
    font-family: var(--font-primary);
    font-weight: 300 !important;
}

@media screen and (max-width: 650px){
    .logo{
        margin: auto;
        width: 400px;
    }
}

@media screen and (max-width: 320px){
    .logo{
        height: 200px;
        width: 200px;
    }
}

h3.footNote{
    font-family: 'Playfair-Display', serif;
    font-weight: lighter;
    font-size: 22px;
}

.footNote{
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
}

.parentFooter{
    background-color: var(--background-nav);
    margin-bottom: 0;
}

hr{
    border: none;
    border-top: 2px solid var(--font-color);
    margin-left: 2rem;
    margin-right: 2rem;
}
